<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="container">
        <h1>Chat with Our AI</h1>
        <div id="consent-modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Participant Information Sheet and Consent Form</h2>
                <p>Please read the following information and provide your consent to proceed.</p>
                <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLScmEWIgKsbLeF9gCn8pEmDu7U67ETn7n95-_UP5YfFXlkj1Bg/viewform?embedded=true"
                    width="100%" height="400px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                <button id="consent-button" onclick="checkGoogleFormSubmission()">I Agree</button>
            </div>
        </div>
        <div class="chat-box" id="chat-box" style="display:none;">
            <div id="messages"></div>
            <div id="loading-spinner" class="spinner"></div>
        </div>
        <input type="text" id="query-input" placeholder="Type your query here..." style="display:none;">
        <button onclick="sendQuery()" style="display:none;">Send</button>
    </div>

    <!-- Feedback Form Section -->
    <div class="feedback-form" id="feedback-form" style="display:none;">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdC3bxESKoKFVEL7cr8CwLykODbvn1QLCwZVJZ080u5hCdsvA/viewform?embedded=true"
            width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <script src="static/scripts.js"></script>
</body>

</html>